header {
  background-image: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
  margin-bottom: 73px;
  @media (max-width: 770px) {
    margin-bottom: 81px;
  }
  @media (max-width: 320px) {
    margin-bottom: 96px;
  }
  .container {
    padding-top: 46px;
    padding-bottom: 56px;
    @media (max-width: 770px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @media (max-width: 320px) {
      padding-top: 25px;
      padding-bottom: 30px;
    }
    .logo {
      height: 46px;
      display: grid;
      grid-template: auto / 161px auto;
      align-items: center;
      column-gap: 76px;
      @media (max-width: 770px) {
        grid-template: repeat(2, auto) / auto;
        height: auto;
        row-gap: 50px;
      }
      @media (max-width: 320px) {
        grid-template: auto / repeat(2, auto);
      }
      > div {
        width: 161px;
        @media (max-width: 320px) {
          padding-top: 5px;
          width: 115px;
        }
      }
      nav {
        display: grid;
        grid-template: auto / repeat(5, auto);
        justify-content: start;
        column-gap: 50px;
        @media (max-width: 770px) {
          margin-right: 50px;
          justify-self: end;
        }
        @media (max-width: 320px) {
          grid-template: auto / repeat(2, auto);
        }
        .burger {
          display: none;
          @media (max-width: 320px) {
            display: inline-block;
            width: 50px;
            height: 36px;
            position: absolute;
            right: 0;
            top: 25px;
            background-color: rgba(228, 161, 111, 1);
            img {
              width: 20px;
              margin: 8px 5px 8px 10px;
            }
          }
        }

        a {
          padding-top: 17px;
          @include font(16px, 400, 96.4%, white);
          @media (max-width: 320px) {
            display: none;
          }
        }
      }
    }
  }
}
