main {
  .products {
    .catalog {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-bottom: 80px;
      @media (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 40px;
      }
      a {
        box-shadow: 0px 0px 40px 0px #0000001a;
        transition: 0.3s;
        position: relative;
        text-align: center;
        height: 491px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          background: linear-gradient(
            180deg,
            rgba(7, 44, 38, 0) 16.71%,
            rgba(7, 44, 38, 0.5) 77.04%
          );
          min-height: 205px;
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-bottom: 27px;
          width: 100%;
          @include mont(30px, 29px, 600);
          color: $colorwhite;
          @media (max-width: 900px) {
            @include mont(20px, 16px, 600);
          }
          @media (max-width: 600px) {
            @include mont(12px, 12px, 600);
          }
        }
        &:nth-child(4) {
          overflow: hidden;
          img {
            transform: rotate(-90deg);
          }
        }
        &:hover {
          box-shadow: 0px 0px 70px 0px #00000033;
        }
      }
    }
  }
  .banner-offer {
    background: url("../../image/index/banner-bg-2.jpeg") no-repeat;
    background-size: cover;
    background-position: 100%;
    padding-top: 120px;
    @media (max-width: 1690px) {
      background: url("../../image/index/tablet-banner-bg-2.jpg") no-repeat;
      background-size: cover;
    }
    @media (max-width: 600px) {
      background: url("../../image/index/mobile-banner-bg-2.jpeg") no-repeat;
      background-size: 100%;
      padding-top: 55px;
    }
    .container {
      .caption {
        @include lighthaus(140px, 1, 400);
        color: $colorwhite;
        margin-bottom: 50px;
        @media (max-width: 600px) {
          margin-bottom: 20px;
        }
      }
      .text {
        @include mont(35px, 34px, 600);
        max-width: 533px;
        color: $colorwhite;
        margin-bottom: 50px;
        @media (max-width: 600px) {
          margin-bottom: 20px;
          @include mont(14px, 1, 600);
          max-width: 165px;
        }
      }
      .button {
        display: flex;
        padding-bottom: 80px;
        @media (max-width: 1690px) {
          padding-bottom: 120px;
        }
        @media (max-width: 600px) {
          padding-bottom: 256px;
        }
        a {
          display: block;
          text-decoration: none;
          @include mont(18px, 17px, 800);
          text-align: center;
          color: $colorwhite;
          padding: 17px 77px;
          background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
        }
      }
    }
  }
  .sales_with_bg {
    background: url("../../image/index/bg-sep.png") no-repeat;
    background-size: cover;
    .title {
      padding-top: 80px;
    }
  }
  .sales {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: unset;
      }
      .product {
        padding-bottom: 99px;
        @media (max-width: 1024px) {
          &:nth-child(1) {
            display: none;
            width: 50%;
          }
        }
        @media (max-width: 600px) {
          grid-column: 1;
        }
        .priceFlex {
          text-align: right;
          @include mont(20px, 19px, 600);
        }
        .img {
          padding-bottom: 30px;
          width: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .name {
            flex-basis: 257px;
            p {
              @include mont(20px, 19px, 600);
              @media (max-width: 1300px) {
                @include mont(16px, 1, 600);
              }
              @media (max-width: 800px) {
                @include mont(14px, 1, 600);
              }
            }
          }
          .cost {
            display: flex;
            justify-content: flex-end;
            align-items: end;
            p {
              @include mont(30px, 29px, 800);
              @media (max-width: 1300px) {
                @include mont(16px, 1, 800);
              }
              @media (max-width: 800px) {
                @include mont(14px, 1, 800);
              }
            }
          }
          .sale {
            color: #9b0000;
          }
        }
        .oldPrice {
          position: absolute;
          top: -20px;
          right: 0;
          color: #03141230;

          font-size: 20px;
          text-align: right;
          @media (max-width: 1024px) {
            display: none;
          }

          &::before {
            content: "";
            border-bottom: 1px solid #03141230;
            position: absolute;
            width: 95.55px;
            height: 50%;
            left: -12px;
            transform: rotate(13.8deg);
          }
        }
      }

      .button {
        grid-column: 1/4;
        justify-content: center;
        display: flex;
        padding-bottom: 80px;
        a {
          display: block;
          text-decoration: none;
          @include mont(18px, 17px, 800);
          text-align: center;
          color: $colorwhite;
          padding: 17px 77px;
          background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
        }
      }
    }
  }
  .testimonials {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-bottom: 131px;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .testimonial {
        box-shadow: 0px 0px 40px 0px #0000001a;
        padding: 21px 40px 18px 30px;
        background: url("../../image/index/quotes.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: top right;

        @media (max-width: 1024px) {
          &:nth-child(1) {
            display: none;
          }
        }
        .photo {
          width: 63px;
          height: 63px;
          padding-bottom: 18px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .data {
          p {
            @include mont(14px, 18px, 800);
          }
        }
        p {
          @include mont(25px, 24px, 600);
          padding-bottom: 18px;
        }
        span {
          display: block;
          @include montitalic(14px, 19px, 300);
          margin-bottom: 18px;
        }
      }
    }
  }
  .why {
    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }
      .group {
        margin-bottom: 74px;
        .img {
          background: linear-gradient(
            278.32deg,
            #0b3f37 -7.03%,
            #cb8d62 136.33%
          );
          width: 76px;
          height: 76px;
          margin-bottom: 24px;
          padding: 15px;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        p {
          @include mont(20px, 19px, 800);
          margin-bottom: 15px;
        }
        span {
          display: block;
          @include mont(14px, 19px, 400);
          margin-bottom: 15px;
        }
        a {
          text-decoration: none;
          @include mont(14px, 19px, 800);
          color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
          background-image: linear-gradient(
            65.81deg,
            #5e3928 -24.09%,
            #e4a16f 104.02%
          );
        }
      }
    }
  }
}
